{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<div class="theme-switcher">
  <!-- The main button with a moon icon -->
  <button id="theme-button" aria-label="Change Theme" class="theme-button">
    <span class="theme-icon">🌙</span>
  </button>

  <!-- The dropdown menu -->
  <div id="theme-menu" class="theme-menu hidden">
    <ul>
      <li class="theme-option" data-theme="light">Light</li>
      <li class="theme-option" data-theme="dark">Dark</li>
      <li class="theme-option" data-theme="auto">Automatic</li>
    </ul>
  </div>
</div>
